<div class="row">
    <!--RECURSO-->
    <div class="form-group col-md-7">
        <label for="recurso"><span class="asterisco">*</span>Recurso:</label>
        <div class="input-group">
            <input type="text" id="recurso" name="recurso" class="form-control" autocomplete="off" readonly
                   value="{{vm.eventoRecurso.nome}}" ng-class="{'is-invalid' : ((!vm.eventoRecurso || !vm.eventoRecurso.nome) && vm.submitedRecurso)}" />
            <div class="input-group-append">
                <button type="button"
                        class="btn btn-primary"
                        data-toggle="modal"
                        data-target="#modalBuscarRecurso"
                        title="Adicionar Recurso">
                    <em class="fa fa-search"></em>
                </button>
                <button type="button" class="btn btn-outline-primary" ui-sref="recursos-cadastro" title="Adicionar Recurso" ng-if="!vm.eventoRecurso.recursoId"><em class="fa fa-plus-circle"></em></button>
                <button type="button" class="btn btn-outline-primary" ui-sref="recursos-edicao({'id': vm.eventoRecurso.id})" title="Editar Recurso" ng-if="vm.eventoRecurso.recursoId"><em class="fa fa-pencil-alt"></em></button>
            </div>
        </div>
        <div role="alert" ng-if="!vm.eventoRecurso && vm.submitedRecurso">
            <div class="invalid-feedback d-block">Campo obrigatório</div>
        </div>
    </div>

    <!--QUANTIDADE-->
    <div class="form-group col-md-3">
        <label for="quantidade"><span class="asterisco">*</span>Quantidade:</label>
        <input type="number" id="quantidade" name="quantidade" class="form-control text-right" autocomplete="off" min="0"
               ng-class="{'is-invalid' : ((!vm.eventoRecurso.quantidade || vm.eventoRecurso.quantidade <= 0) && vm.submitedRecurso)}"
               ng-enter="vm.adicionarRecurso($event, form)"
               ng-model="vm.eventoRecurso.quantidade" />
        <div role="alert" ng-if="(!vm.eventoRecurso.quantidade || vm.eventoRecurso.quantidade <= 0) && vm.submitedRecurso">
            <div class="invalid-feedback d-block">Campo obrigatório</div>
        </div>
    </div>

    <!--BOTÃO ADICIONAR RECURSO-->
    <div class="form-group col-md-2">
        <label class="">&nbsp;</label>
        <button class="btn btn-success btn-sm btn-block" type="button" ng-click="vm.adicionarRecurso($event, form) "><em class="fas fa-plus-circle"></em> Incluir</button>
    </div>
</div>

<!--TABELA DE RECURSOS-->
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Nome</th>
            <th style="width:12%">Quantidade</th>
            <th style="width:15%" class="text-right">Custo Unitário</th>
            <th style="width:15%" class="text-right">Custo Total</th>
            <th style="width:10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="recurso in vm.evento.recursos track by $index">
            <td>{{recurso.nome}}</td>
            <td>{{recurso.quantidade}}</td>
            <td class="text-right">{{recurso.custo | currency : 'R$' : 2 }}</td>
            <td class="text-right">{{(recurso.custo * recurso.quantidade) | currency : 'R$' : 2 }}</td>
            <td class="text-center">
                <a href="" class="text-danger" ng-click="vm.excluirRecurso(form, $index)" title="Remover Recurso"><em class="fa fa-window-close"></em></a>
            </td>
        </tr>
        <tr ng-if="!vm.evento.recursos || vm.evento.recursos.length == 0">
            <td colspan="5">Nenhum recurso cadastrado.</td>
        </tr>
    </tbody>
</table>
<!--OBSERVAÇÃO-->
<div class="row">
    <div class="form-group col-md-12">
        <label for="observacao">Observações:</label>
        <textarea type="text" id="observacao" name="observacao" class="form-control" autocomplete="off"
                  ng-model="vm.evento.observacoes" rows="5" capitalize />
    </div>
</div>