<div id="modalBuscarRecurso" ng-controller="EventoModalRecursoController as vmx"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Pesquisar Recurso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <fieldset class="query-form">
                    <div class="row">
                        <!--NOME-->
                        <div class="form-group col-md-5 col-sm-12">
                            <input class="form-control w-100" id="nome" type="text" placeholder="Nome" capitalize autocomplete="off"
                                   ng-model="vmx.queryRecurso.nome" ng-enter="vmx.filtrar()" />
                        </div>
                        <!--DESCRICÃO-->
                        <div class="form-group col-md-5 col-sm-12">
                            <input class="form-control w-100" id="descricao" type="text" placeholder="Descrição" capitalize autocomplete="off"
                                   ng-model="vmx.queryRecurso.descricao" ng-enter="vmx.filtrar()" />
                        </div>
                        <!--FILTRO-->
                        <div class="form-group col-md-2 col-sm-12">
                            <button class="btn btn-info btn-sm btn-block" ng-click="vmx.filtrar()"><em class="fas fa-filter"></em> Filtrar</button>
                        </div>
                    </div>
                </fieldset>

                <div class="row" ng-if="vmx.recursos">
                    <div class="col-12">
                        <table class="table table-sm table-striped-custom table-hover">
                            <caption ng-if="vmx.pager.totalItems > 0">
                                <nav aria-label="Page navigation">
                                    <div class="row col-12 text-center pr-1">
                                        <ul class="pagination pagination-sm justify-content-center offset-5 col-2" ng-if="vmx.pager.pages.length">
                                            <li class="page-item" ng-class="{disabled:vmx.pager.currentPage == 1}">
                                                <a class="page-link" ng-click="vmx.filtrar(vmx.pager.currentPage - 1)"><<</a>
                                            </li>
                                            <li class="page-item" ng-repeat="page in vmx.pager.pages" ng-class="{active:vmx.pager.currentPage == page}">
                                                <a class="page-link" ng-click="vmx.filtrar(page)">{{page}}</a>
                                            </li>
                                            <li class="page-item" ng-class="{disabled:vmx.pager.currentPage == vmx.pager.totalPages}">
                                                <a class="page-link" ng-click="vmx.filtrar(vmx.pager.currentPage + 1)">>></a>
                                            </li>
                                            <li class="page-item" style="padding-left: 15px;">
                                                <select ng-model="vmx.pageSize" class="page-link" ng-change="vmx.filtrar(page)"
                                                        ng-options="size.qtd as size.desc for size in vmx.listPageSize"></select>
                                            </li>
                                        </ul>
                                        <div class="col-5 text-right pr-0">Exibindo: <strong>{{vmx.pager.startIndex + 1}} - {{vmx.pager.endIndex + 1}}</strong> de <strong>{{vmx.pager.totalItems}}</strong> registro(s)</div>
                                    </div>
                                </nav>
                            </caption>
                            <thead class="thead-dark">
                                <tr>
                                    <th>Nome</th>
                                    <th class="d-none d-md-table-cell">Descrição</th>
                                    <th class="text-right" style="width: 16%;">Custo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="recurso in vmx.recursos" ng-click="vmx.selecionarRecurso(recurso)" data-dismiss="modal">
                                    <td>{{recurso.nome}}</td>
                                    <td class="d-none d-md-table-cell">{{recurso.descricao}}</td>
                                    <td class="text-right">{{recurso.custo | currency : 'R$' : 2 }}</td>
                                </tr>
                                <tr ng-if="vmx.recursos.length == 0">
                                    <td colspan="3">Nenhum registro encontrado.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
