@model Trilhas.Models.Certificado.EmissaoCertificadoViewModel

@{ Layout = null; }

<html lang="pt-br">
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <title>Certificado</title>

    <script type="text/javascript">
        window.onload = function () {
            window.print();
        };
    </script>
</head>

<body>
    <div>
        @Html.Raw(Model.Dados)
    </div>
</body>
</html>