<div ng-app="trilhasapp" ng-controller="SolucoesController as vm">

    <div class="content-header">
        <h5>Trilhas <em class="fa fa-angle-right"></em> Soluções Educacionais</h5>
        <div class="line"></div>
    </div>

    <a ui-sref="solucoes-cadastro" id="btn-form" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Adicionar</a>

    <form name="form">
        <fieldset class="query-form">
            <div class="row">
                <!--Titulo-->
                <div class="form-group col-md-4 col-sm-12">
                    <input class="form-control w-100" id="nome" type="text" placeholder="Título" ng-model="vm.query.titulo" autocomplete="off" capitalize autofocus />
                </div>
                <!--Eixo-->
                <!--<div class="form-group col-md-4 col-sm-12">
                    <select id="eixoId" name="eixoId" class="form-control w-100" required ng-options="eixo.id as eixo.nome for eixo in vm.eixos"
                            ng-model="vm.query.eixoId" ng-change="vm.carregarDropDownEstacoes()">
                        <option value=""> -- Filtrar por Eixo -- </option>
                    </select>
                </div>-->
                <!--Estacao-->
                <!--<div class="form-group col-md-4 col-sm-12">
                    <select id="estacaoId" name="eixoId" class="form-control w-100" required ng-options="estacao.id as estacao.nome for estacao in vm.estacoes"
                            ng-model="vm.query.estacaoId">
                        <option value=""> -- Filtrar por Estação -- </option>
                    </select>
                </div>-->

                <!--Tipo-->
                <div class="form-group col-md-4">
                    <select id="tipoSolucao" name="tipoSolucao" class="form-control w-100" ng-model="vm.query.tipoSolucao"
                            ng-options="tipo.value as tipo.text for tipo in vm.tiposSolucao" ng-change="vm.limparFiltrosAvancados()">
                        <option value="">--- Filtro avançado ---</option>
                    </select>
                </div>
                <div class="form-group col-md-6 col-sm-12">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="excluidos" ng-model="vm.query.excluidos" />
                        <label class="custom-control-label" for="excluidos">Exibir excluídos</label>
                    </div>
                </div>
                <div class="form-group col-md-2 col-sm-12">
                    <button class="btn btn-info btn-sm btn-block" ng-click="vm.filtrar()"><i class="fas fa-filter"></i> Filtrar</button>
                </div>
            </div>

            <!--FILTRO DE CURSO-->
            <div class="row d-none d-md-flex" ng-if="vm.query.tipoSolucao === vm.tiposSolucao[0].value">
                <div class="form-group col-12 line"></div>
                <!--Sigla-->
                <!--<div class="form-group col-md-4 col-sm-12">
                    <input class="form-control w-100" id="sigla" type="text" placeholder="Sigla" ng-model="vm.query.sigla" autocomplete="off" capitalize />
                </div>-->
                <!--Modalidade do curso-->
                <div class="form-group col-md-4 col-sm-12">
                    <select id="tipoCursoId" name="tipoCursoId" class="form-control" ng-model="vm.query.modalidadeCurso"
                            ng-options="modalidade.codigo as modalidade.nome for modalidade in vm.modalidadesCurso">
                        <option value=""> -- Filtrar por Modalidade -- </option>
                    </select>
                </div>
                <!--Nivel do curso-->
                <div class="form-group col-md-4 col-sm-12">
                    <select id="nivelCursoId" name="nivelCursoId" class="form-control" ng-model="vm.query.nivelCurso"
                            ng-options="tipo.id as tipo.descricao for tipo in vm.niveisCurso">
                        <option value=""> -- Filtrar por Nível de Curso -- </option>
                    </select>
                </div>
            </div>

            <!--FILTRO DE LIVROS-->
            <div class="row d-none d-md-flex" ng-if="vm.query.tipoSolucao === vm.tiposSolucao[1].value">
                <div class="form-group col-12 line"></div>
                <!--Autor-->
                <div class="form-group col-md-4 col-sm-12">
                    <input class="form-control w-100" id="autor" type="text" placeholder="Autor" ng-model="vm.query.autor" autocomplete="off" capitalize />
                </div>
                <!--Editora-->
                <div class="form-group col-md-4 col-sm-12">
                    <input class="form-control w-100" id="editora" type="text" placeholder="Editora" ng-model="vm.query.editora" autocomplete="off" capitalize />
                </div>
            </div>

            <!--FILTRO DE VIEOS-->
            <div class="row d-none d-md-flex" ng-if="vm.query.tipoSolucao === vm.tiposSolucao[2].value">
                <div class="form-group col-12 line"></div>
                <!--Responsavel-->
                <div class="form-group col-md-4 col-sm-12">
                    <input class="form-control w-100" id="responsavel" type="text" placeholder="Responsável" ng-model="vm.query.responsavel" autocomplete="off" capitalize />
                </div>
            </div>

        </fieldset>
    </form>

    <div class="row" ng-if="vm.solucoes">
        <div class="col-12">
            <table class="table table-striped-custom table-hover">
                <caption ng-if="vm.pager.totalItems > 0">
                    <nav aria-label="Page navigation">
                        <div class="row col-12 text-center pr-1">
                            <ul class="pagination pagination-sm justify-content-center offset-5 col-2" ng-if="vm.pager.pages.length">
                                <li class="page-item" ng-class="{disabled:vm.pager.currentPage == 1}">
                                    <a class="page-link" ng-click="vm.filtrar(vm.pager.currentPage - 1)"><<</a>
                                </li>
                                <li class="page-item" ng-repeat="page in vm.pager.pages" ng-class="{active:vm.pager.currentPage == page}">
                                    <a class="page-link" ng-click="vm.filtrar(page)">{{page}}</a>
                                </li>
                                <li class="page-item" ng-class="{disabled:vm.pager.currentPage == vm.pager.totalPages}">
                                    <a class="page-link" ng-click="vm.filtrar(vm.pager.currentPage + 1)">>></a>
                                </li>
                                <li class="page-item" style="padding-left: 15px;">
                                    <select ng-model="vm.pageSize" class="page-link" ng-change="vm.filtrar(page)"
                                            ng-options="size.qtd as size.desc for size in vm.listPageSize"></select>
                                </li>
                            </ul>
                            <div class="offset-2 col-3 text-right pr-0">Exibindo: <strong>{{vm.pager.startIndex + 1}} - {{vm.pager.endIndex + 1}}</strong> de <strong>{{vm.pager.totalItems}}</strong> registro(s)</div>
                        </div>
                    </nav>
                </caption>
                <thead class="thead-dark">
                    <tr>
                        <th style="width: 7%">ID</th>
                        <th class="d-none d-md-table-cell" style="width: 35%">Eixo / Estação</th>
                        <th>Título</th>
                        <th style="width: 10%">Tipo</th>
                        <th style="width: 9%" class="table-actions">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="solucao in vm.solucoes">
                        <td ng-class="{strike: solucao.excluido}">{{solucao.id}}</td>
                        <td class="d-none d-md-table-cell" ng-class="{strike: solucao.excluido}">
                            {{solucao.eixoNome}} <em class="fa fa-angle-right"></em> {{solucao.estacaoNome}}
                        </td>
                        <td ng-class="{strike: solucao.excluido}">{{solucao.titulo}}</td>
                        <td ng-class="{strike: solucao.excluido}">
                            {{solucao.tipoDeSolucao}} 
                            <span ng-if="solucao.tipoDeSolucao === 'Curso'" class="ml-2">
                                <a ui-sref="eventos({'cursoId': {{solucao.id}}})" title="Exibir Eventos"><em class="far fa-calendar-alt"></em></a>
                            </span>
                        </td>
                        <td class="table-actions">
                            <span ng-if="!solucao.excluido">
                                <a ui-sref="solucoes-edicao({'id': {{solucao.id}} })"
                                   tooltip
                                   data-placement="top"
                                   title="Editar"><span class="fa fa-pencil-alt"></span></a>
                                <a ui-sref="" ng-click="vm.marcarExclusao(solucao.id)"
                                   tooltip
                                   data-toggle="modal"
                                   data-placement="top"
                                   title="Excluir"
                                   data-target="#confirm-dialog"><span class="fa fa-trash"></span></a>
                            </span>
                        </td>
                    </tr>
                    <tr ng-if="vm.solucoes.length == 0 ">
                        <td colspan="5">Nenhum registro encontrado.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <confirm-component confirmation-callback="vm.excluir"></confirm-component>
</div>