USE [master];
GO

IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'Trilhas')
BEGIN
    PRINT 'Creating database Trilhas...';
    CREATE DATABASE [Trilhas];
END
GO

USE [Trilhas];
GO

-- Ensure the trilhas_user login exists and has permissions
IF NOT EXISTS (SELECT name FROM sys.sql_logins WHERE name = N'trilhas_user')
BEGIN
    CREATE LOGIN [trilhas_user] WITH PASSWORD = 'StrongPass123!';
END
GO

CREATE USER [trilhas_user] FOR LOGIN [trilhas_user];
ALTER ROLE [db_owner] ADD MEMBER [trilhas_user];
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Certificados]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certificados](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[CreatorUserId] [nvarchar](max) NULL,
	[LastModificationTime] [datetime2](7) NULL,
	[LastModifierUserId] [nvarchar](max) NULL,
	[DeletionTime] [datetime2](7) NULL,
	[DeletionUserId] [nvarchar](max) NULL,
	[Nome] [nvarchar](max) NULL,
	[Dados] [nvarchar](max) NULL,
	[Padrao] [bit] NOT NULL,
	[TipoCertificado] [int] NOT NULL,
 CONSTRAINT [PK_Certificados] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CertificadosEmitidos]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CertificadosEmitidos](
	[Id] [nvarchar](max) NULL,
	[CreationTime] [nvarchar](max) NULL,
	[CreatorUserId] [nvarchar](max) NULL,
	[DeletionTime] [nvarchar](max) NULL,
	[DeletionUserId] [nvarchar](max) NULL,
	[PessoaId] [nvarchar](max) NULL,
	[Hash] [nvarchar](max) NULL,
	[CodigoAutenticacao] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DadosBancarios]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DadosBancarios](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DocenteId] [bigint] NULL,
	[Banco] [nvarchar](max) NULL,
	[ContaCorrente] [nvarchar](max) NULL,
	[Agencia] [nvarchar](max) NULL,
 CONSTRAINT [PK_DadosBancarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deficiencias]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deficiencias](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NULL,
 CONSTRAINT [PK_Deficiencias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Docentes]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Docentes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[CreatorUserId] [nvarchar](max) NULL,
	[LastModificationTime] [datetime2](7) NULL,
	[LastModifierUserId] [nvarchar](max) NULL,
	[DeletionTime] [datetime2](7) NULL,
	[DeletionUserId] [nvarchar](max) NULL,
	[PessoaId] [bigint] NULL,
	[Observacoes] [nvarchar](max) NULL,
 CONSTRAINT [PK_Docentes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Eixos]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eixos](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[CreatorUserId] [nvarchar](max) NULL,
	[LastModificationTime] [datetime2](7) NULL,
	[LastModifierUserId] [nvarchar](max) NULL,
	[DeletionTime] [datetime2](7) NULL,
	[DeletionUserId] [nvarchar](max) NULL,
	[Nome] [nvarchar](max) NULL,
	[Descricao] [nvarchar](max) NULL,
 CONSTRAINT [PK_Eixos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entidades]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entidades](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[CreatorUserId] [nvarchar](max) NULL,
	[LastModificationTime] [datetime2](7) NULL,
	[LastModifierUserId] [nvarchar](max) NULL,
	[DeletionTime] [datetime2](7) NULL,
	[DeletionUserId] [nvarchar](max) NULL,
	[Nome] [nvarchar](max) NULL,
	[Sigla] [nvarchar](max) NULL,
	[MunicipioId] [bigint] NULL,
	[TipoId] [bigint] NOT NULL,
 CONSTRAINT [PK_Entidades] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Escolaridades]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Escolaridades](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NULL,
 CONSTRAINT [PK_Escolaridades] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estacoes]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estacoes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[CreatorUserId] [nvarchar](max) NULL,
	[LastModificationTime] [datetime2](7) NULL,
	[LastModifierUserId] [nvarchar](max) NULL,
	[DeletionTime] [datetime2](7) NULL,
	[DeletionUserId] [nvarchar](max) NULL,
	[Nome] [nvarchar](max) NULL,
	[Descricao] [nvarchar](max) NULL,
	[EixoId] [bigint] NULL,
 CONSTRAINT [PK_Estacoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventoAgenda]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventoAgenda](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[CreatorUserId] [nvarchar](max) NULL,
	[LastModificationTime] [datetime2](7) NULL,
	[LastModifierUserId] [nvarchar](max) NULL,
	[DeletionTime] [datetime2](7) NULL,
	[DeletionUserId] [nvarchar](max) NULL,
	[DataHoraInicio] [datetime2](7) NOT NULL,
	[DataHoraFim] [datetime2](7) NOT NULL,
	[DataHoraInscricaoInicio] [datetime2](7) NOT NULL,
	[DataHoraInscricaoFim] [datetime2](7) NOT NULL,
	[NumeroVagas] [int] NOT NULL,
	[Justificativa] [nvarchar](max) NULL,
	[EventoId] [bigint] NULL,
 CONSTRAINT [PK_EventoAgenda] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventoCota]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventoCota](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EntidadeId] [bigint] NULL,
	[Quantidade] [int] NOT NULL,
	[EventoId] [bigint] NULL,
 CONSTRAINT [PK_EventoCota] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventoHorario]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventoHorario](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EventoId] [bigint] NULL,
	[ModuloId] [bigint] NULL,
	[DocenteId] [bigint] NULL,
	[LocalSalaId] [bigint] NULL,
	[DataHoraInicio] [datetime2](7) NOT NULL,
	[DataHoraFim] [datetime2](7) NOT NULL,
	[FuncaoId] [bigint] NULL,
 CONSTRAINT [PK_EventoHorario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventoRecurso]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventoRecurso](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[RecursoId] [bigint] NULL,
	[Quantidade] [int] NOT NULL,
	[EventoId] [bigint] NULL,
 CONSTRAINT [PK_EventoRecurso] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Eventos]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eventos](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[CreatorUserId] [nvarchar](max) NULL,
	[LastModificationTime] [datetime2](7) NULL,
	[LastModifierUserId] [nvarchar](max) NULL,
	[DeletionTime] [datetime2](7) NULL,
	[DeletionUserId] [nvarchar](max) NULL,
	[CoordenadorPessoaId] [bigint] NULL,
	[CursoId] [bigint] NULL,
	[EntidadeDemandanteId] [bigint] NULL,
	[LocalId] [bigint] NULL,
	[Observacoes] [nvarchar](max) NULL,
	[UrlEad] [nvarchar](max) NULL,
	[Finalizado] [bit] NOT NULL,
	[LimitarInscricoes] [bit] NOT NULL,
	[VagasPorEntidade] [int] NOT NULL,
	[CertificadoId] [bigint] NULL,
	[MotivoExclusao] [nvarchar](max) NULL,
	[DeclaracaoCursistaId] [bigint] NULL,
	[DeclaracaoDocenteId] [bigint] NULL,
 CONSTRAINT [PK_Eventos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Formacao]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Formacao](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DocenteId] [bigint] NULL,
	[Curso] [nvarchar](max) NULL,
	[Titulacao] [nvarchar](max) NULL,
	[Instituicao] [nvarchar](max) NULL,
	[CargaHoraria] [int] NOT NULL,
	[DataInicio] [datetime2](7) NOT NULL,
	[DataFim] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Formacao] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FuncoesDocente]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FuncoesDocente](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Descricao] [nvarchar](max) NULL,
 CONSTRAINT [PK_FuncoesDocente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gestores]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gestores](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PessoaId] [bigint] NULL,
	[EntidadeId] [bigint] NULL,
 CONSTRAINT [PK_Gestores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Habilidades]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habilidades](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Descricao] [nvarchar](max) NULL,
	[CursoId] [bigint] NULL,
 CONSTRAINT [PK_Habilidades] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Habilitacao]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habilitacao](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DocenteId] [bigint] NULL,
	[CursoId] [bigint] NULL,
 CONSTRAINT [PK_Habilitacao] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inscritos]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inscritos](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[CreatorUserId] [nvarchar](max) NULL,
	[LastModificationTime] [datetime2](7) NULL,
	[LastModifierUserId] [nvarchar](max) NULL,
	[DeletionTime] [datetime2](7) NULL,
	[DeletionUserId] [nvarchar](max) NULL,
	[PessoaId] [bigint] NULL,
	[DataDeInscricao] [datetime2](7) NOT NULL,
	[Frequencia] [float] NOT NULL,
	[ListaDeInscricaoId] [bigint] NULL,
	[Situacao] [int] NOT NULL,
	[PenalidadeId] [bigint] NULL,
 CONSTRAINT [PK_Inscritos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItensDaTrilha]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItensDaTrilha](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[CreatorUserId] [nvarchar](max) NULL,
	[LastModificationTime] [datetime2](7) NULL,
	[LastModifierUserId] [nvarchar](max) NULL,
	[DeletionTime] [datetime2](7) NULL,
	[DeletionUserId] [nvarchar](max) NULL,
	[TrilhaId] [bigint] NULL,
	[SolucaoId] [bigint] NULL,
 CONSTRAINT [PK_ItensDaTrilha] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListaDeInscricao]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListaDeInscricao](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EventoId] [bigint] NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[CreatorUserId] [nvarchar](max) NULL,
	[DeletionTime] [datetime2](7) NULL,
	[DeletionUserId] [nvarchar](max) NULL,
	[LastModificationTime] [datetime2](7) NULL,
	[LastModifierUserId] [nvarchar](max) NULL,
 CONSTRAINT [PK_ListaDeInscricao] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locais]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locais](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[CreatorUserId] [nvarchar](max) NULL,
	[LastModificationTime] [datetime2](7) NULL,
	[LastModifierUserId] [nvarchar](max) NULL,
	[DeletionTime] [datetime2](7) NULL,
	[DeletionUserId] [nvarchar](max) NULL,
	[Nome] [nvarchar](max) NULL,
	[Observacoes] [nvarchar](max) NULL,
	[Cep] [nvarchar](max) NULL,
	[Logradouro] [nvarchar](max) NULL,
	[Bairro] [nvarchar](max) NULL,
	[Numero] [nvarchar](max) NULL,
	[Complemento] [nvarchar](max) NULL,
	[MunicipioId] [bigint] NULL,
 CONSTRAINT [PK_Locais] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocalContatos]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalContatos](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[CreatorUserId] [nvarchar](max) NULL,
	[LastModificationTime] [datetime2](7) NULL,
	[LastModifierUserId] [nvarchar](max) NULL,
	[DeletionTime] [datetime2](7) NULL,
	[DeletionUserId] [nvarchar](max) NULL,
	[LocalId] [bigint] NULL,
	[TipoContatoId] [bigint] NULL,
	[NumeroTelefone] [nvarchar](max) NULL,
 CONSTRAINT [PK_LocalContatos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocalRecursos]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalRecursos](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[CreatorUserId] [nvarchar](max) NULL,
	[LastModificationTime] [datetime2](7) NULL,
	[LastModifierUserId] [nvarchar](max) NULL,
	[DeletionTime] [datetime2](7) NULL,
	[DeletionUserId] [nvarchar](max) NULL,
	[LocalId] [bigint] NULL,
	[RecursoId] [bigint] NULL,
	[Quantidade] [int] NOT NULL,
 CONSTRAINT [PK_LocalRecursos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocalSalas]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalSalas](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[CreatorUserId] [nvarchar](max) NULL,
	[LastModificationTime] [datetime2](7) NULL,
	[LastModifierUserId] [nvarchar](max) NULL,
	[DeletionTime] [datetime2](7) NULL,
	[DeletionUserId] [nvarchar](max) NULL,
	[LocalId] [bigint] NULL,
	[Sigla] [nvarchar](max) NULL,
	[Numero] [nvarchar](max) NULL,
	[Capacidade] [int] NOT NULL,
 CONSTRAINT [PK_LocalSalas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modulos]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modulos](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NULL,
	[Descricao] [nvarchar](max) NULL,
	[CargaHoraria] [int] NOT NULL,
	[CursoId] [bigint] NULL,
 CONSTRAINT [PK_Modulos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Municipios]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Municipios](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[codigoMunicipio] [bigint] NOT NULL,
	[NomeMunicipio] [nvarchar](max) NULL,
	[codigoUf] [int] NOT NULL,
	[Uf] [nvarchar](max) NULL,
 CONSTRAINT [PK_Municipios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NiveisDeCurso]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NiveisDeCurso](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Descricao] [nvarchar](max) NULL,
 CONSTRAINT [PK_NiveisDeCurso] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrgaoExpedidor]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrgaoExpedidor](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Sigla] [nvarchar](max) NULL,
	[Nome] [nvarchar](max) NULL,
 CONSTRAINT [PK_OrgaoExpedidor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Penalidades]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Penalidades](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PessoaId] [bigint] NULL,
	[DataInicioPenalidade] [datetime2](7) NOT NULL,
	[DataFimPenalidade] [datetime2](7) NOT NULL,
	[DataDaPenalidade] [datetime2](7) NOT NULL,
	[JustificativaDeCancelamento] [nvarchar](max) NULL,
 CONSTRAINT [PK_Penalidades] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PessoaContato]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PessoaContato](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[CreatorUserId] [nvarchar](max) NULL,
	[LastModificationTime] [datetime2](7) NULL,
	[LastModifierUserId] [nvarchar](max) NULL,
	[DeletionTime] [datetime2](7) NULL,
	[DeletionUserId] [nvarchar](max) NULL,
	[Numero] [nvarchar](max) NULL,
	[TipoPessoaContatoId] [bigint] NULL,
	[PessoaId] [bigint] NULL,
 CONSTRAINT [PK_PessoaContato] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pessoas]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pessoas](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[CreatorUserId] [nvarchar](max) NULL,
	[LastModificationTime] [datetime2](7) NULL,
	[LastModifierUserId] [nvarchar](max) NULL,
	[DeletionTime] [datetime2](7) NULL,
	[DeletionUserId] [nvarchar](max) NULL,
	[Nome] [nvarchar](max) NULL,
	[Cpf] [nvarchar](max) NULL,
	[NumeroFuncional] [nvarchar](max) NULL,
	[NomeSocial] [nvarchar](max) NULL,
	[DataNascimento] [datetime2](7) NOT NULL,
	[NumeroIdentidade] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[UfIdentidade] [nvarchar](max) NULL,
	[NumeroTitulo] [nvarchar](max) NULL,
	[Pis] [nvarchar](max) NULL,
	[FlagDeficiente] [bit] NOT NULL,
	[DeficienciaId] [bigint] NULL,
	[EscolaridadeId] [bigint] NULL,
	[Cep] [nvarchar](max) NULL,
	[Logradouro] [nvarchar](max) NULL,
	[Bairro] [nvarchar](max) NULL,
	[Numero] [nvarchar](max) NULL,
	[Complemento] [nvarchar](max) NULL,
	[EntidadeId] [bigint] NULL,
	[OrgaoExpedidorId] [bigint] NULL,
	[SexoId] [bigint] NULL,
	[MunicipioId] [bigint] NULL,
 CONSTRAINT [PK_Pessoas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recursos]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recursos](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[CreatorUserId] [nvarchar](max) NULL,
	[LastModificationTime] [datetime2](7) NULL,
	[LastModifierUserId] [nvarchar](max) NULL,
	[DeletionTime] [datetime2](7) NULL,
	[DeletionUserId] [nvarchar](max) NULL,
	[Nome] [nvarchar](max) NULL,
	[Descricao] [nvarchar](max) NULL,
	[Custo] [decimal](7, 2) NOT NULL,
 CONSTRAINT [PK_Recursos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistrosDePresenca]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistrosDePresenca](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EventoHorarioId] [bigint] NULL,
	[PessoaId] [bigint] NULL,
	[Presente] [bit] NOT NULL,
 CONSTRAINT [PK_RegistrosDePresenca] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sexo]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sexo](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NULL,
 CONSTRAINT [PK_Sexo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SolucoesEducacionais]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolucoesEducacionais](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[CreatorUserId] [nvarchar](max) NULL,
	[LastModificationTime] [datetime2](7) NULL,
	[LastModifierUserId] [nvarchar](max) NULL,
	[DeletionTime] [datetime2](7) NULL,
	[DeletionUserId] [nvarchar](max) NULL,
	[EstacaoId] [bigint] NULL,
	[TipoDoCursoId] [bigint] NULL,
	[ConteudoProgramatico] [nvarchar](max) NULL,
	[Descricao] [nvarchar](max) NULL,
	[FrequenciaMinimaCertificado] [int] NULL,
	[FrequenciaMinimaDeclaracao] [int] NULL,
	[NivelDoCursoId] [bigint] NULL,
	[PermiteCertificado] [bit] NULL,
	[PreRequisitos] [nvarchar](max) NULL,
	[PublicoAlvo] [nvarchar](max) NULL,
	[Sigla] [nvarchar](max) NULL,
	[Titulo] [nvarchar](max) NULL,
	[Autor] [nvarchar](max) NULL,
	[DataPublicacao] [datetime2](7) NULL,
	[Edicao] [nvarchar](max) NULL,
	[Editora] [nvarchar](max) NULL,
	[OutrasInformacoes] [nvarchar](max) NULL,
	[Url] [nvarchar](max) NULL,
	[TipoDeSolucao] [nvarchar](max) NOT NULL,
	[DataProducao] [datetime2](7) NULL,
	[Duracao] [nvarchar](max) NULL,
	[Video_OutrasInformacoes] [nvarchar](max) NULL,
	[Responsavel] [nvarchar](max) NULL,
	[Video_Url] [nvarchar](max) NULL,
	[Modalidade] [int] NULL,
 CONSTRAINT [PK_SolucoesEducacionais] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoLocalContato]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoLocalContato](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NULL,
 CONSTRAINT [PK_TipoLocalContato] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoPessoaContato]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoPessoaContato](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NULL,
 CONSTRAINT [PK_TipoPessoaContato] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposDeCurso]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposDeCurso](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Descricao] [nvarchar](max) NULL,
 CONSTRAINT [PK_TiposDeCurso] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposDeEntidade]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposDeEntidade](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Descricao] [nvarchar](max) NULL,
 CONSTRAINT [PK_TiposDeEntidade] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trilhas]    Script Date: 09/10/2025 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trilhas](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[CreatorUserId] [nvarchar](max) NULL,
	[LastModificationTime] [datetime2](7) NULL,
	[LastModifierUserId] [nvarchar](max) NULL,
	[DeletionTime] [datetime2](7) NULL,
	[DeletionUserId] [nvarchar](max) NULL,
	[UsuarioId] [nvarchar](max) NULL,
 CONSTRAINT [PK_Trilhas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'00000000000000_CreateIdentitySchema', N'6.0.36')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20190411220142_trilhas-inicio', N'6.0.36')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20190417175506_solucao-educacional', N'6.0.36')
GO
SET IDENTITY_INSERT [dbo].[Certificados] ON 

SET IDENTITY_INSERT [dbo].[Certificados] OFF
GO
SET IDENTITY_INSERT [dbo].[DadosBancarios] ON 

INSERT [dbo].[DadosBancarios] ([Id], [DocenteId], [Banco], [ContaCorrente], [Agencia]) VALUES (3, 5, N'ITAU', N'40604-9', N'8666')
SET IDENTITY_INSERT [dbo].[DadosBancarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Deficiencias] ON 

INSERT [dbo].[Deficiencias] ([Id], [Nome]) VALUES (1, N'FÍSICA')
INSERT [dbo].[Deficiencias] ([Id], [Nome]) VALUES (2, N'AUDITIVA')
INSERT [dbo].[Deficiencias] ([Id], [Nome]) VALUES (3, N'VISUAL')
SET IDENTITY_INSERT [dbo].[Deficiencias] OFF
GO
SET IDENTITY_INSERT [dbo].[Docentes] ON 

INSERT [dbo].[Docentes] ([Id], [CreationTime], [CreatorUserId], [LastModificationTime], [LastModifierUserId], [DeletionTime], [DeletionUserId], [PessoaId], [Observacoes]) VALUES (5, CAST(N'2023-12-28T13:10:55.6440438' AS DateTime2), N'105252', NULL, NULL, NULL, NULL, 8, NULL)
SET IDENTITY_INSERT [dbo].[Docentes] OFF
GO
SET IDENTITY_INSERT [dbo].[Eixos] ON 

INSERT [dbo].[Eixos] ([Id], [CreationTime], [CreatorUserId], [LastModificationTime], [LastModifierUserId], [DeletionTime], [DeletionUserId], [Nome], [Descricao]) VALUES (1, CAST(N'2023-12-26T20:03:42.8495797' AS DateTime2), N'105252', NULL, NULL, NULL, NULL, N'CONHECIMENTO EM REDE', N'CONHECIMENTO EM REDE')
INSERT [dbo].[Eixos] ([Id], [CreationTime], [CreatorUserId], [LastModificationTime], [LastModifierUserId], [DeletionTime], [DeletionUserId], [Nome], [Descricao]) VALUES (2, CAST(N'2023-12-26T20:04:37.6214228' AS DateTime2), N'105252', NULL, NULL, NULL, NULL, N'INOVAÇÃO', N'INOVAÇÃO')
INSERT [dbo].[Eixos] ([Id], [CreationTime], [CreatorUserId], [LastModificationTime], [LastModifierUserId], [DeletionTime], [DeletionUserId], [Nome], [Descricao]) VALUES (3, CAST(N'2023-12-27T13:58:48.2535337' AS DateTime2), N'105252', CAST(N'2024-08-22T16:56:53.9600280' AS DateTime2), N'105252', NULL, NULL, N'COMUNICAÇÃO', N'COMUNICAÇÃO')
SET IDENTITY_INSERT [dbo].[Eixos] OFF
GO
SET IDENTITY_INSERT [dbo].[Entidades] ON 

INSERT [dbo].[Entidades] ([Id], [CreationTime], [CreatorUserId], [LastModificationTime], [LastModifierUserId], [DeletionTime], [DeletionUserId], [Nome], [Sigla], [MunicipioId], [TipoId]) VALUES (1, CAST(N'2023-12-27T14:03:49.8173299' AS DateTime2), N'105252', NULL, NULL, NULL, NULL, N'ESCOLA DE GOVERNO DO ESPÍRITO SANTO', N'ESESP', 1, 2)
INSERT [dbo].[Entidades] ([Id], [CreationTime], [CreatorUserId], [LastModificationTime], [LastModifierUserId], [DeletionTime], [DeletionUserId], [Nome], [Sigla], [MunicipioId], [TipoId]) VALUES (2, CAST(N'2023-12-28T14:31:33.5401841' AS DateTime2), N'105252', NULL, NULL, NULL, NULL, N'ARQUIVO PÚBLICO DO ESTADO DO ESPIRITO SANTO', N'APEES', 1, 2)
INSERT [dbo].[Entidades] ([Id], [CreationTime], [CreatorUserId], [LastModificationTime], [LastModifierUserId], [DeletionTime], [DeletionUserId], [Nome], [Sigla], [MunicipioId], [TipoId]) VALUES (3, CAST(N'2024-08-22T16:12:39.7129369' AS DateTime2), N'105252', NULL, NULL, NULL, NULL, N'SECRETARIA DE EDUCAÇÃO', N'SEDU', 1, 2)
SET IDENTITY_INSERT [dbo].[Entidades] OFF
GO
SET IDENTITY_INSERT [dbo].[Escolaridades] ON 

INSERT [dbo].[Escolaridades] ([Id], [Nome]) VALUES (1, N'1º GRAU INCOMPLETO')
INSERT [dbo].[Escolaridades] ([Id], [Nome]) VALUES (2, N'1º GRAU COMPLETO')
INSERT [dbo].[Escolaridades] ([Id], [Nome]) VALUES (3, N'ENSINO SUPERIOR INCOMPLETO')
SET IDENTITY_INSERT [dbo].[Escolaridades] OFF
GO
SET IDENTITY_INSERT [dbo].[Estacoes] ON 

INSERT [dbo].[Estacoes] ([Id], [CreationTime], [CreatorUserId], [LastModificationTime], [LastModifierUserId], [DeletionTime], [DeletionUserId], [Nome], [Descricao], [EixoId]) VALUES (1, CAST(N'2023-12-26T20:05:46.2810695' AS DateTime2), N'105252', NULL, NULL, NULL, NULL, N'TREINAMENTO E-DOCS', N'SISTEMA E-DOCS', 1)
INSERT [dbo].[Estacoes] ([Id], [CreationTime], [CreatorUserId], [LastModificationTime], [LastModifierUserId], [DeletionTime], [DeletionUserId], [Nome], [Descricao], [EixoId]) VALUES (2, CAST(N'2023-12-26T20:06:06.5345081' AS DateTime2), N'105252', NULL, NULL, NULL, NULL, N'POWER BI', N'POWER BI', 2)
INSERT [dbo].[Estacoes] ([Id], [CreationTime], [CreatorUserId], [LastModificationTime], [LastModifierUserId], [DeletionTime], [DeletionUserId], [Nome], [Descricao], [EixoId]) VALUES (3, CAST(N'2023-12-27T13:59:21.3910364' AS DateTime2), N'105252', NULL, NULL, NULL, NULL, N'ORATÓRIA AVANÇADA', N'ESTUDO SOBRE ORATÓRIA', 3)
GO
SET IDENTITY_INSERT [dbo].[Estacoes] OFF
GO
SET IDENTITY_INSERT [dbo].[EventoAgenda] ON 

INSERT [dbo].[EventoAgenda] ([Id], [CreationTime], [CreatorUserId], [LastModificationTime], [LastModifierUserId], [DeletionTime], [DeletionUserId], [DataHoraInicio], [DataHoraFim], [DataHoraInscricaoInicio], [DataHoraInscricaoFim], [NumeroVagas], [Justificativa], [EventoId]) VALUES (3, CAST(N'2024-01-03T13:20:28.0802564' AS DateTime2), N'105252', NULL, NULL, NULL, NULL, CAST(N'2023-12-11T12:00:00.0000000' AS DateTime2), CAST(N'2023-12-11T16:00:00.0000000' AS DateTime2), CAST(N'2023-12-01T12:00:00.0000000' AS DateTime2), CAST(N'2023-12-04T20:00:00.0000000' AS DateTime2), 10, NULL, 2)
INSERT [dbo].[EventoAgenda] ([Id], [CreationTime], [CreatorUserId], [LastModificationTime], [LastModifierUserId], [DeletionTime], [DeletionUserId], [DataHoraInicio], [DataHoraFim], [DataHoraInscricaoInicio], [DataHoraInscricaoFim], [NumeroVagas], [Justificativa], [EventoId]) VALUES (4, CAST(N'2024-01-03T13:36:06.7520982' AS DateTime2), N'105252', NULL, NULL, NULL, NULL, CAST(N'2023-12-11T12:00:00.0000000' AS DateTime2), CAST(N'2023-12-15T16:00:00.0000000' AS DateTime2), CAST(N'2023-12-01T12:00:00.0000000' AS DateTime2), CAST(N'2023-12-04T20:00:00.0000000' AS DateTime2), 10, NULL, 3)
INSERT [dbo].[EventoAgenda] ([Id], [CreationTime], [CreatorUserId], [LastModificationTime], [LastModifierUserId], [DeletionTime], [DeletionUserId], [DataHoraInicio], [DataHoraFim], [DataHoraInscricaoInicio], [DataHoraInscricaoFim], [NumeroVagas], [Justificativa], [EventoId]) VALUES (5, CAST(N'2024-08-22T17:44:56.7891378' AS DateTime2), N'288413', NULL, NULL, NULL, NULL, CAST(N'2024-08-23T10:00:00.0000000' AS DateTime2), CAST(N'2024-08-28T18:00:00.0000000' AS DateTime2), CAST(N'2024-08-22T09:00:00.0000000' AS DateTime2), CAST(N'2024-08-22T23:59:00.0000000' AS DateTime2), 35, NULL, 4)
SET IDENTITY_INSERT [dbo].[EventoAgenda] OFF
GO
SET IDENTITY_INSERT [dbo].[EventoCota] ON 

INSERT [dbo].[EventoCota] ([Id], [EntidadeId], [Quantidade], [EventoId]) VALUES (1, 1, 3, 2)
INSERT [dbo].[EventoCota] ([Id], [EntidadeId], [Quantidade], [EventoId]) VALUES (2, 2, 3, 3)
SET IDENTITY_INSERT [dbo].[EventoCota] OFF
GO
SET IDENTITY_INSERT [dbo].[EventoHorario] ON 

INSERT [dbo].[EventoHorario] ([Id], [EventoId], [ModuloId], [DocenteId], [LocalSalaId], [DataHoraInicio], [DataHoraFim], [FuncaoId]) VALUES (10004, 2, NULL, NULL, 1, CAST(N'2023-12-11T12:00:00.0000000' AS DateTime2), CAST(N'2023-12-11T16:00:00.0000000' AS DateTime2), 1)
INSERT [dbo].[EventoHorario] ([Id], [EventoId], [ModuloId], [DocenteId], [LocalSalaId], [DataHoraInicio], [DataHoraFim], [FuncaoId]) VALUES (10005, 3, NULL, NULL, 1, CAST(N'2023-12-11T12:00:00.0000000' AS DateTime2), CAST(N'2023-12-11T16:00:00.0000000' AS DateTime2), 1)
INSERT [dbo].[EventoHorario] ([Id], [EventoId], [ModuloId], [DocenteId], [LocalSalaId], [DataHoraInicio], [DataHoraFim], [FuncaoId]) VALUES (10006, 3, NULL, NULL, 1, CAST(N'2023-12-12T12:00:00.0000000' AS DateTime2), CAST(N'2023-12-12T16:00:00.0000000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[EventoHorario] OFF
GO
SET IDENTITY_INSERT [dbo].[EventoRecurso] ON 

INSERT [dbo].[EventoRecurso] ([Id], [RecursoId], [Quantidade], [EventoId]) VALUES (3, 1, 1, 2)
INSERT [dbo].[EventoRecurso] ([Id], [RecursoId], [Quantidade], [EventoId]) VALUES (4, 1, 1, 3)
SET IDENTITY_INSERT [dbo].[EventoRecurso] OFF
GO
SET IDENTITY_INSERT [dbo].[Eventos] ON 

INSERT [dbo].[Eventos] ([Id], [CreationTime], [CreatorUserId], [LastModificationTime], [LastModifierUserId], [DeletionTime], [DeletionUserId], [CoordenadorPessoaId], [CursoId], [EntidadeDemandanteId], [LocalId], [Observacoes], [UrlEad], [Finalizado], [LimitarInscricoes], [VagasPorEntidade], [CertificadoId], [MotivoExclusao], [DeclaracaoCursistaId], [DeclaracaoDocenteId]) VALUES (2, CAST(N'2024-01-03T12:51:46.9356316' AS DateTime2), N'2402875', NULL, NULL, NULL, NULL, 8, NULL, 1, 1, NULL, NULL, 0, 1, 3, 1, NULL, NULL, NULL)
INSERT [dbo].[Eventos] ([Id], [CreationTime], [CreatorUserId], [LastModificationTime], [LastModifierUserId], [DeletionTime], [DeletionUserId], [CoordenadorPessoaId], [CursoId], [EntidadeDemandanteId], [LocalId], [Observacoes], [UrlEad], [Finalizado], [LimitarInscricoes], [VagasPorEntidade], [CertificadoId], [MotivoExclusao], [DeclaracaoCursistaId], [DeclaracaoDocenteId]) VALUES (3, CAST(N'2024-01-03T13:20:28.0802538' AS DateTime2), N'105252', NULL, NULL, NULL, NULL, 8, NULL, 1, 1, NULL, NULL, 0, 1, 3, 1, NULL, NULL, NULL)
INSERT [dbo].[Eventos] ([Id], [CreationTime], [CreatorUserId], [LastModificationTime], [LastModifierUserId], [DeletionTime], [DeletionUserId], [CoordenadorPessoaId], [CursoId], [EntidadeDemandanteId], [LocalId], [Observacoes], [UrlEad], [Finalizado], [LimitarInscricoes], [VagasPorEntidade], [CertificadoId], [MotivoExclusao], [DeclaracaoCursistaId], [DeclaracaoDocenteId]) VALUES (4, CAST(N'2024-01-03T13:36:06.7520980' AS DateTime2), N'105252', CAST(N'2024-01-03T13:40:17.5983121' AS DateTime2), N'105252', NULL, NULL, 8, NULL, 1, 1, NULL, NULL, 1, 1, 3, 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Eventos] OFF
GO
SET IDENTITY_INSERT [dbo].[Formacao] ON 

INSERT [dbo].[Formacao] ([Id], [DocenteId], [Curso], [Titulacao], [Instituicao], [CargaHoraria], [DataInicio], [DataFim]) VALUES (2, 5, N'TECNOLOGIA EM PETROLEO E GAS', N'PÓS GRADUADO', N'CET FAESA', 1000, CAST(N'2007-07-01T03:00:00.0000000' AS DateTime2), CAST(N'2009-12-22T02:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Formacao] OFF
GO
SET IDENTITY_INSERT [dbo].[FuncoesDocente] ON 

INSERT [dbo].[FuncoesDocente] ([Id], [Descricao]) VALUES (1, N'DOCENTE')
INSERT [dbo].[FuncoesDocente] ([Id], [Descricao]) VALUES (2, N'DOCENTE ASSISTENTE')
INSERT [dbo].[FuncoesDocente] ([Id], [Descricao]) VALUES (3, N'CONFERENCISTA')
SET IDENTITY_INSERT [dbo].[FuncoesDocente] OFF
GO
SET IDENTITY_INSERT [dbo].[Gestores] ON 

INSERT [dbo].[Gestores] ([Id], [PessoaId], [EntidadeId]) VALUES (2, 9, 3)
SET IDENTITY_INSERT [dbo].[Gestores] OFF
GO
SET IDENTITY_INSERT [dbo].[Habilidades] ON 

INSERT [dbo].[Habilidades] ([Id], [Descricao], [CursoId]) VALUES (2, N'GESTÃO ESCOLAR', 81)
INSERT [dbo].[Habilidades] ([Id], [Descricao], [CursoId]) VALUES (3, N'GESTÃO ESPORTIVA', 82)
INSERT [dbo].[Habilidades] ([Id], [Descricao], [CursoId]) VALUES (4, N'VISÃO CONTÁBIL DA GESTÃO PATRIMONIAL', 83)
SET IDENTITY_INSERT [dbo].[Habilidades] OFF
GO
SET IDENTITY_INSERT [dbo].[Habilitacao] ON 

INSERT [dbo].[Habilitacao] ([Id], [DocenteId], [CursoId]) VALUES (2, 5, 81)
SET IDENTITY_INSERT [dbo].[Habilitacao] OFF
GO
SET IDENTITY_INSERT [dbo].[Inscritos] ON 

INSERT [dbo].[Inscritos] ([Id], [CreationTime], [CreatorUserId], [LastModificationTime], [LastModifierUserId], [DeletionTime], [DeletionUserId], [PessoaId], [DataDeInscricao], [Frequencia], [ListaDeInscricaoId], [Situacao], [PenalidadeId]) VALUES (3, CAST(N'2024-01-03T13:30:26.9313898' AS DateTime2), N'105252', NULL, NULL, NULL, NULL, 11, CAST(N'2024-01-03T13:30:26.9305874' AS DateTime2), 0, 3, 0, NULL)
INSERT [dbo].[Inscritos] ([Id], [CreationTime], [CreatorUserId], [LastModificationTime], [LastModifierUserId], [DeletionTime], [DeletionUserId], [PessoaId], [DataDeInscricao], [Frequencia], [ListaDeInscricaoId], [Situacao], [PenalidadeId]) VALUES (4, CAST(N'2024-01-03T13:30:35.3673000' AS DateTime2), N'105252', NULL, NULL, NULL, NULL, 9, CAST(N'2024-01-03T13:30:35.3670791' AS DateTime2), 0, 3, 0, NULL)
INSERT [dbo].[Inscritos] ([Id], [CreationTime], [CreatorUserId], [LastModificationTime], [LastModifierUserId], [DeletionTime], [DeletionUserId], [PessoaId], [DataDeInscricao], [Frequencia], [ListaDeInscricaoId], [Situacao], [PenalidadeId]) VALUES (5, CAST(N'2024-01-03T13:30:45.3474963' AS DateTime2), N'105252', NULL, NULL, NULL, NULL, 10, CAST(N'2024-01-03T13:30:45.3472262' AS DateTime2), 0, 3, 0, NULL)
SET IDENTITY_INSERT [dbo].[Inscritos] OFF
GO
SET IDENTITY_INSERT [dbo].[ItensDaTrilha] ON 

INSERT [dbo].[ItensDaTrilha] ([Id], [CreationTime], [CreatorUserId], [LastModificationTime], [LastModifierUserId], [DeletionTime], [DeletionUserId], [TrilhaId], [SolucaoId]) VALUES (2, CAST(N'2024-08-16T15:13:32.0052361' AS DateTime2), N'1366862', NULL, NULL, NULL, NULL, NULL, 84)
INSERT [dbo].[ItensDaTrilha] ([Id], [CreationTime], [CreatorUserId], [LastModificationTime], [LastModifierUserId], [DeletionTime], [DeletionUserId], [TrilhaId], [SolucaoId]) VALUES (3, CAST(N'2024-08-16T15:14:24.8252025' AS DateTime2), N'1366862', NULL, NULL, NULL, NULL, NULL, 82)
INSERT [dbo].[ItensDaTrilha] ([Id], [CreationTime], [CreatorUserId], [LastModificationTime], [LastModifierUserId], [DeletionTime], [DeletionUserId], [TrilhaId], [SolucaoId]) VALUES (4, CAST(N'2024-08-16T15:19:51.9959788' AS DateTime2), N'530252', NULL, NULL, NULL, NULL, NULL, 96)
SET IDENTITY_INSERT [dbo].[ItensDaTrilha] OFF
GO
SET IDENTITY_INSERT [dbo].[ListaDeInscricao] ON 

INSERT [dbo].[ListaDeInscricao] ([Id], [EventoId], [CreationTime], [CreatorUserId], [DeletionTime], [DeletionUserId], [LastModificationTime], [LastModifierUserId]) VALUES (2, 2, CAST(N'2024-01-03T13:20:28.0802631' AS DateTime2), N'105252', NULL, NULL, NULL, NULL)
INSERT [dbo].[ListaDeInscricao] ([Id], [EventoId], [CreationTime], [CreatorUserId], [DeletionTime], [DeletionUserId], [LastModificationTime], [LastModifierUserId]) VALUES (3, 3, CAST(N'2024-01-03T13:36:06.7520986' AS DateTime2), N'105252', NULL, NULL, NULL, NULL)
INSERT [dbo].[ListaDeInscricao] ([Id], [EventoId], [CreationTime], [CreatorUserId], [DeletionTime], [DeletionUserId], [LastModificationTime], [LastModifierUserId]) VALUES (4, 4, CAST(N'2024-08-22T17:44:56.7891404' AS DateTime2), N'288413', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ListaDeInscricao] OFF
GO
SET IDENTITY_INSERT [dbo].[Locais] ON 

INSERT [dbo].[Locais] ([Id], [CreationTime], [CreatorUserId], [LastModificationTime], [LastModifierUserId], [DeletionTime], [DeletionUserId], [Nome], [Observacoes], [Cep], [Logradouro], [Bairro], [Numero], [Complemento], [MunicipioId]) VALUES (1, CAST(N'2023-12-27T14:07:05.4993501' AS DateTime2), N'105252', NULL, NULL, NULL, NULL, N'SALA ESESP', NULL, N'29062545', N'RUA FRANCISCO FUNDÃO', N'MORADA DE CAMBURI', N'155', NULL, 1)
INSERT [dbo].[Locais] ([Id], [CreationTime], [CreatorUserId], [LastModificationTime], [LastModifierUserId], [DeletionTime], [DeletionUserId], [Nome], [Observacoes], [Cep], [Logradouro], [Bairro], [Numero], [Complemento], [MunicipioId]) VALUES (2, CAST(N'2023-12-27T14:07:05.4993501' AS DateTime2), N'105252', NULL, NULL, NULL, NULL, N'SALA ESESP', NULL, N'29062545', N'RUA FRANCISCO FUNDÃO', N'MORADA DE CAMBURI', N'155', NULL, 1)
SET IDENTITY_INSERT [dbo].[Locais] OFF
GO
SET IDENTITY_INSERT [dbo].[LocalContatos] ON 

INSERT [dbo].[LocalContatos] ([Id], [CreationTime], [CreatorUserId], [LastModificationTime], [LastModifierUserId], [DeletionTime], [DeletionUserId], [LocalId], [TipoContatoId], [NumeroTelefone]) VALUES (1, CAST(N'2023-12-27T14:07:05.4993501' AS DateTime2), N'105252', NULL, NULL, NULL, NULL, 1, 2, N'27996075775')
SET IDENTITY_INSERT [dbo].[LocalContatos] OFF
GO
SET IDENTITY_INSERT [dbo].[LocalRecursos] ON 

INSERT [dbo].[LocalRecursos] ([Id], [CreationTime], [CreatorUserId], [LastModificationTime], [LastModifierUserId], [DeletionTime], [DeletionUserId], [LocalId], [RecursoId], [Quantidade]) VALUES (1, CAST(N'2023-12-27T14:07:05.4993501' AS DateTime2), N'105252', NULL, NULL, NULL, NULL, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[LocalRecursos] OFF
GO
SET IDENTITY_INSERT [dbo].[LocalSalas] ON 

INSERT [dbo].[LocalSalas] ([Id], [CreationTime], [CreatorUserId], [LastModificationTime], [LastModifierUserId], [DeletionTime], [DeletionUserId], [LocalId], [Sigla], [Numero], [Capacidade]) VALUES (1, CAST(N'2023-12-27T14:07:05.4993501' AS DateTime2), N'105252', NULL, NULL, NULL, NULL, 1, N'SALA 1', N'4', 35)
SET IDENTITY_INSERT [dbo].[LocalSalas] OFF
GO
SET IDENTITY_INSERT [dbo].[Modulos] ON 

INSERT [dbo].[Modulos] ([Id], [Nome], [Descricao], [CargaHoraria], [CursoId]) VALUES (10002, N'MÓDULO I', NULL, 20, 81)
INSERT [dbo].[Modulos] ([Id], [Nome], [Descricao], [CargaHoraria], [CursoId]) VALUES (10003, N'MÓDULO I', NULL, 20, 82)
INSERT [dbo].[Modulos] ([Id], [Nome], [Descricao], [CargaHoraria], [CursoId]) VALUES (10004, N'MÓDULO I', NULL, 20, 83)
SET IDENTITY_INSERT [dbo].[Modulos] OFF
GO
SET IDENTITY_INSERT [dbo].[Municipios] ON 

INSERT [dbo].[Municipios] ([Id], [codigoMunicipio], [NomeMunicipio], [codigoUf], [Uf]) VALUES (1, 3205309, N'VITÓRIA', 32, N'ES')
INSERT [dbo].[Municipios] ([Id], [codigoMunicipio], [NomeMunicipio], [codigoUf], [Uf]) VALUES (2, 3205200, N'VILA VELHA', 32, N'ES')
INSERT [dbo].[Municipios] ([Id], [codigoMunicipio], [NomeMunicipio], [codigoUf], [Uf]) VALUES (3, 3205002, N'SERRA', 32, N'ES')
GO
SET IDENTITY_INSERT [dbo].[Municipios] OFF
GO
SET IDENTITY_INSERT [dbo].[NiveisDeCurso] ON 

INSERT [dbo].[NiveisDeCurso] ([Id], [Descricao]) VALUES (1, N'CAPACITAÇÃO')
INSERT [dbo].[NiveisDeCurso] ([Id], [Descricao]) VALUES (2, N'FORMAÇÃO')
INSERT [dbo].[NiveisDeCurso] ([Id], [Descricao]) VALUES (3, N'CAPACITAÇÃO')
SET IDENTITY_INSERT [dbo].[NiveisDeCurso] OFF
GO
SET IDENTITY_INSERT [dbo].[OrgaoExpedidor] ON 

INSERT [dbo].[OrgaoExpedidor] ([Id], [Sigla], [Nome]) VALUES (1, N'SSP', N'SECRETARIA DE SEGURANÇA PÚBLICA')
INSERT [dbo].[OrgaoExpedidor] ([Id], [Sigla], [Nome]) VALUES (2, N'SSP', N'SECRETARIA DE SEGURANÇA PÚBLICA')
SET IDENTITY_INSERT [dbo].[OrgaoExpedidor] OFF
GO
SET IDENTITY_INSERT [dbo].[Penalidades] ON 

INSERT [dbo].[Penalidades] ([Id], [PessoaId], [DataInicioPenalidade], [DataFimPenalidade], [DataDaPenalidade], [JustificativaDeCancelamento]) VALUES (2, NULL, CAST(N'2023-12-15T16:00:00.0000000' AS DateTime2), CAST(N'2024-03-14T16:00:00.0000000' AS DateTime2), CAST(N'2024-01-03T13:40:17.5982887' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Penalidades] OFF
GO
SET IDENTITY_INSERT [dbo].[PessoaContato] ON 

INSERT [dbo].[PessoaContato] ([Id], [CreationTime], [CreatorUserId], [LastModificationTime], [LastModifierUserId], [DeletionTime], [DeletionUserId], [Numero], [TipoPessoaContatoId], [PessoaId]) VALUES (2, CAST(N'2023-12-28T13:00:01.0316416' AS DateTime2), N'2402875', NULL, NULL, NULL, NULL, N'47992630283', 2, 7)
INSERT [dbo].[PessoaContato] ([Id], [CreationTime], [CreatorUserId], [LastModificationTime], [LastModifierUserId], [DeletionTime], [DeletionUserId], [Numero], [TipoPessoaContatoId], [PessoaId]) VALUES (3, CAST(N'2023-12-28T13:06:30.3600806' AS DateTime2), N'105252', NULL, NULL, NULL, NULL, N'2736366719', 1, 8)
INSERT [dbo].[PessoaContato] ([Id], [CreationTime], [CreatorUserId], [LastModificationTime], [LastModifierUserId], [DeletionTime], [DeletionUserId], [Numero], [TipoPessoaContatoId], [PessoaId]) VALUES (4, CAST(N'2023-12-28T13:06:30.3600887' AS DateTime2), N'105252', NULL, NULL, NULL, NULL, N'27996075775', 2, 8)
SET IDENTITY_INSERT [dbo].[PessoaContato] OFF
GO
SET IDENTITY_INSERT [dbo].[Pessoas] ON 

SET IDENTITY_INSERT [dbo].[Pessoas] OFF
GO
SET IDENTITY_INSERT [dbo].[Recursos] ON 

INSERT [dbo].[Recursos] ([Id], [CreationTime], [CreatorUserId], [LastModificationTime], [LastModifierUserId], [DeletionTime], [DeletionUserId], [Nome], [Descricao], [Custo]) VALUES (1, CAST(N'2023-12-26T20:15:36.0159826' AS DateTime2), N'105252', NULL, NULL, NULL, NULL, N'NOTEBOOK', N'APARELHO ELETRONICO', CAST(4000.00 AS Decimal(7, 2)))
INSERT [dbo].[Recursos] ([Id], [CreationTime], [CreatorUserId], [LastModificationTime], [LastModifierUserId], [DeletionTime], [DeletionUserId], [Nome], [Descricao], [Custo]) VALUES (2, CAST(N'2023-12-27T14:04:52.7915356' AS DateTime2), N'105252', NULL, NULL, NULL, NULL, N'FLIPCHART', N'APARELHO PARA AUXILIAR NA APRESENTAÇÃO DO CURSO', CAST(100.00 AS Decimal(7, 2)))
SET IDENTITY_INSERT [dbo].[Recursos] OFF
GO
SET IDENTITY_INSERT [dbo].[RegistrosDePresenca] ON 

INSERT [dbo].[RegistrosDePresenca] ([Id], [EventoHorarioId], [PessoaId], [Presente]) VALUES (2, 10005, 11, 1)
INSERT [dbo].[RegistrosDePresenca] ([Id], [EventoHorarioId], [PessoaId], [Presente]) VALUES (3, 10005, 11, 1)
INSERT [dbo].[RegistrosDePresenca] ([Id], [EventoHorarioId], [PessoaId], [Presente]) VALUES (4, 10005, 10, 1)
SET IDENTITY_INSERT [dbo].[RegistrosDePresenca] OFF
GO
SET IDENTITY_INSERT [dbo].[Sexo] ON 

INSERT [dbo].[Sexo] ([Id], [Nome]) VALUES (1, N'MASCULINO')
INSERT [dbo].[Sexo] ([Id], [Nome]) VALUES (2, N'FEMININO')
INSERT [dbo].[Sexo] ([Id], [Nome]) VALUES (3, N'OUTRO')
SET IDENTITY_INSERT [dbo].[Sexo] OFF
GO
SET IDENTITY_INSERT [dbo].[SolucoesEducacionais] ON 

GO
SET IDENTITY_INSERT [dbo].[SolucoesEducacionais] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoLocalContato] ON 

INSERT [dbo].[TipoLocalContato] ([Id], [Nome]) VALUES (1, N'RESIDENCIAL')
INSERT [dbo].[TipoLocalContato] ([Id], [Nome]) VALUES (2, N'COMERCIAL')
INSERT [dbo].[TipoLocalContato] ([Id], [Nome]) VALUES (3, N'CELULAR')
SET IDENTITY_INSERT [dbo].[TipoLocalContato] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoPessoaContato] ON 

INSERT [dbo].[TipoPessoaContato] ([Id], [Nome]) VALUES (1, N'RESIDENCIAL')
INSERT [dbo].[TipoPessoaContato] ([Id], [Nome]) VALUES (2, N'COMERCIAL')
INSERT [dbo].[TipoPessoaContato] ([Id], [Nome]) VALUES (3, N'CELULAR')
SET IDENTITY_INSERT [dbo].[TipoPessoaContato] OFF
GO
SET IDENTITY_INSERT [dbo].[TiposDeCurso] ON 

INSERT [dbo].[TiposDeCurso] ([Id], [Descricao]) VALUES (1, N'PRESENCIAL')
INSERT [dbo].[TiposDeCurso] ([Id], [Descricao]) VALUES (3, N'EAD')
INSERT [dbo].[TiposDeCurso] ([Id], [Descricao]) VALUES (5, N'FÓRUM')
SET IDENTITY_INSERT [dbo].[TiposDeCurso] OFF
GO
SET IDENTITY_INSERT [dbo].[TiposDeEntidade] ON 

INSERT [dbo].[TiposDeEntidade] ([Id], [Descricao]) VALUES (1, N'MUNICIPAL')
INSERT [dbo].[TiposDeEntidade] ([Id], [Descricao]) VALUES (2, N'ESTADUAL')
INSERT [dbo].[TiposDeEntidade] ([Id], [Descricao]) VALUES (3, N'FEDERAL')
SET IDENTITY_INSERT [dbo].[TiposDeEntidade] OFF
GO
SET IDENTITY_INSERT [dbo].[Trilhas] ON 

INSERT [dbo].[Trilhas] ([Id], [CreationTime], [CreatorUserId], [LastModificationTime], [LastModifierUserId], [DeletionTime], [DeletionUserId], [UsuarioId]) VALUES (1, CAST(N'2024-08-16T15:13:31.8937372' AS DateTime2), N'1366862', CAST(N'2024-08-16T15:14:24.8252033' AS DateTime2), N'1366862', NULL, NULL, N'1366862')
INSERT [dbo].[Trilhas] ([Id], [CreationTime], [CreatorUserId], [LastModificationTime], [LastModifierUserId], [DeletionTime], [DeletionUserId], [UsuarioId]) VALUES (2, CAST(N'2024-08-16T15:19:51.9958097' AS DateTime2), N'530252', CAST(N'2024-08-16T15:19:51.9959798' AS DateTime2), N'530252', NULL, NULL, N'530252')
INSERT [dbo].[Trilhas] ([Id], [CreationTime], [CreatorUserId], [LastModificationTime], [LastModifierUserId], [DeletionTime], [DeletionUserId], [UsuarioId]) VALUES (3, CAST(N'2024-08-19T08:29:41.2098240' AS DateTime2), N'741828', CAST(N'2024-08-19T14:23:02.8340517' AS DateTime2), N'741828', NULL, NULL, N'741828')
SET IDENTITY_INSERT [dbo].[Trilhas] OFF
GO
ALTER TABLE [dbo].[Certificados] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Padrao]
GO
ALTER TABLE [dbo].[Certificados] ADD  DEFAULT ((0)) FOR [TipoCertificado]
GO
ALTER TABLE [dbo].[Eventos] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Finalizado]
GO
ALTER TABLE [dbo].[Eventos] ADD  DEFAULT (CONVERT([bit],(0))) FOR [LimitarInscricoes]
GO
ALTER TABLE [dbo].[Eventos] ADD  DEFAULT ((0)) FOR [VagasPorEntidade]
GO
ALTER TABLE [dbo].[Inscritos] ADD  DEFAULT ((0)) FOR [Situacao]
GO
ALTER TABLE [dbo].[ListaDeInscricao] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreationTime]
GO
ALTER TABLE [dbo].[Penalidades] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [DataDaPenalidade]
GO
ALTER TABLE [dbo].[SolucoesEducacionais] ADD  DEFAULT (N'') FOR [TipoDeSolucao]
GO
ALTER TABLE [dbo].[DadosBancarios]  WITH CHECK ADD  CONSTRAINT [FK_DadosBancarios_Docente_DocenteId] FOREIGN KEY([DocenteId])
REFERENCES [dbo].[Docentes] ([Id])
GO
ALTER TABLE [dbo].[DadosBancarios] CHECK CONSTRAINT [FK_DadosBancarios_Docente_DocenteId]
GO
ALTER TABLE [dbo].[Docentes]  WITH CHECK ADD  CONSTRAINT [FK_Docentes_Pessoas_PessoaId] FOREIGN KEY([PessoaId])
REFERENCES [dbo].[Pessoas] ([Id])
GO
ALTER TABLE [dbo].[Docentes] CHECK CONSTRAINT [FK_Docentes_Pessoas_PessoaId]
GO
ALTER TABLE [dbo].[Entidades]  WITH CHECK ADD  CONSTRAINT [FK_Entidades_Municipios_MunicipioId] FOREIGN KEY([MunicipioId])
REFERENCES [dbo].[Municipios] ([Id])
GO
ALTER TABLE [dbo].[Entidades] CHECK CONSTRAINT [FK_Entidades_Municipios_MunicipioId]
GO
ALTER TABLE [dbo].[Entidades]  WITH CHECK ADD  CONSTRAINT [FK_Entidades_TiposDeEntidade_TipoId] FOREIGN KEY([TipoId])
REFERENCES [dbo].[TiposDeEntidade] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Entidades] CHECK CONSTRAINT [FK_Entidades_TiposDeEntidade_TipoId]
GO
ALTER TABLE [dbo].[Estacoes]  WITH CHECK ADD  CONSTRAINT [FK_Estacoes_Eixos_EixoId] FOREIGN KEY([EixoId])
REFERENCES [dbo].[Eixos] ([Id])
GO
ALTER TABLE [dbo].[Estacoes] CHECK CONSTRAINT [FK_Estacoes_Eixos_EixoId]
GO
ALTER TABLE [dbo].[EventoAgenda]  WITH CHECK ADD  CONSTRAINT [FK_EventoAgenda_Eventos_EventoId] FOREIGN KEY([EventoId])
REFERENCES [dbo].[Eventos] ([Id])
GO
ALTER TABLE [dbo].[EventoAgenda] CHECK CONSTRAINT [FK_EventoAgenda_Eventos_EventoId]
GO
ALTER TABLE [dbo].[EventoCota]  WITH CHECK ADD  CONSTRAINT [FK_EventoCota_Entidades_EntidadeId] FOREIGN KEY([EntidadeId])
REFERENCES [dbo].[Entidades] ([Id])
GO
ALTER TABLE [dbo].[EventoCota] CHECK CONSTRAINT [FK_EventoCota_Entidades_EntidadeId]
GO
ALTER TABLE [dbo].[EventoCota]  WITH CHECK ADD  CONSTRAINT [FK_EventoCota_Eventos_EventoId] FOREIGN KEY([EventoId])
REFERENCES [dbo].[Eventos] ([Id])
GO
ALTER TABLE [dbo].[EventoCota] CHECK CONSTRAINT [FK_EventoCota_Eventos_EventoId]
GO
ALTER TABLE [dbo].[EventoHorario]  WITH CHECK ADD  CONSTRAINT [FK_EventoHorario_Docentes_DocenteId] FOREIGN KEY([DocenteId])
REFERENCES [dbo].[Docentes] ([Id])
GO
ALTER TABLE [dbo].[EventoHorario] CHECK CONSTRAINT [FK_EventoHorario_Docentes_DocenteId]
GO
ALTER TABLE [dbo].[EventoHorario]  WITH CHECK ADD  CONSTRAINT [FK_EventoHorario_Eventos_EventoId] FOREIGN KEY([EventoId])
REFERENCES [dbo].[Eventos] ([Id])
GO
ALTER TABLE [dbo].[EventoHorario] CHECK CONSTRAINT [FK_EventoHorario_Eventos_EventoId]
GO
ALTER TABLE [dbo].[EventoHorario]  WITH CHECK ADD  CONSTRAINT [FK_EventoHorario_FuncoesDocente_FuncaoId] FOREIGN KEY([FuncaoId])
REFERENCES [dbo].[FuncoesDocente] ([Id])
GO
ALTER TABLE [dbo].[EventoHorario] CHECK CONSTRAINT [FK_EventoHorario_FuncoesDocente_FuncaoId]
GO
ALTER TABLE [dbo].[EventoHorario]  WITH CHECK ADD  CONSTRAINT [FK_EventoHorario_LocalSalas_LocalSalaId] FOREIGN KEY([LocalSalaId])
REFERENCES [dbo].[LocalSalas] ([Id])
GO
ALTER TABLE [dbo].[EventoHorario] CHECK CONSTRAINT [FK_EventoHorario_LocalSalas_LocalSalaId]
GO
ALTER TABLE [dbo].[EventoHorario]  WITH CHECK ADD  CONSTRAINT [FK_EventoHorario_Modulos_ModuloId] FOREIGN KEY([ModuloId])
REFERENCES [dbo].[Modulos] ([Id])
GO
ALTER TABLE [dbo].[EventoHorario] CHECK CONSTRAINT [FK_EventoHorario_Modulos_ModuloId]
GO
ALTER TABLE [dbo].[EventoRecurso]  WITH CHECK ADD  CONSTRAINT [FK_EventoRecurso_Eventos_EventoId] FOREIGN KEY([EventoId])
REFERENCES [dbo].[Eventos] ([Id])
GO
ALTER TABLE [dbo].[EventoRecurso] CHECK CONSTRAINT [FK_EventoRecurso_Eventos_EventoId]
GO
ALTER TABLE [dbo].[EventoRecurso]  WITH CHECK ADD  CONSTRAINT [FK_EventoRecurso_Recursos_RecursoId] FOREIGN KEY([RecursoId])
REFERENCES [dbo].[Recursos] ([Id])
GO
ALTER TABLE [dbo].[EventoRecurso] CHECK CONSTRAINT [FK_EventoRecurso_Recursos_RecursoId]
GO
ALTER TABLE [dbo].[Eventos]  WITH CHECK ADD  CONSTRAINT [FK_Eventos_Certificados_CertificadoId] FOREIGN KEY([CertificadoId])
REFERENCES [dbo].[Certificados] ([Id])
GO
ALTER TABLE [dbo].[Eventos] CHECK CONSTRAINT [FK_Eventos_Certificados_CertificadoId]
GO
ALTER TABLE [dbo].[Eventos]  WITH CHECK ADD  CONSTRAINT [FK_Eventos_Certificados_DeclaracaoCursistaId] FOREIGN KEY([DeclaracaoCursistaId])
REFERENCES [dbo].[Certificados] ([Id])
GO
ALTER TABLE [dbo].[Eventos] CHECK CONSTRAINT [FK_Eventos_Certificados_DeclaracaoCursistaId]
GO
ALTER TABLE [dbo].[Eventos]  WITH CHECK ADD  CONSTRAINT [FK_Eventos_Certificados_DeclaracaoDocenteId] FOREIGN KEY([DeclaracaoDocenteId])
REFERENCES [dbo].[Certificados] ([Id])
GO
ALTER TABLE [dbo].[Eventos] CHECK CONSTRAINT [FK_Eventos_Certificados_DeclaracaoDocenteId]
GO
ALTER TABLE [dbo].[Eventos]  WITH CHECK ADD  CONSTRAINT [FK_Eventos_Entidades_EntidadeDemandanteId] FOREIGN KEY([EntidadeDemandanteId])
REFERENCES [dbo].[Entidades] ([Id])
GO
ALTER TABLE [dbo].[Eventos] CHECK CONSTRAINT [FK_Eventos_Entidades_EntidadeDemandanteId]
GO
ALTER TABLE [dbo].[Eventos]  WITH CHECK ADD  CONSTRAINT [FK_Eventos_Locais_LocalId] FOREIGN KEY([LocalId])
REFERENCES [dbo].[Locais] ([Id])
GO
ALTER TABLE [dbo].[Eventos] CHECK CONSTRAINT [FK_Eventos_Locais_LocalId]
GO
ALTER TABLE [dbo].[Eventos]  WITH CHECK ADD  CONSTRAINT [FK_Eventos_Pessoas_CoordenadorPessoaId] FOREIGN KEY([CoordenadorPessoaId])
REFERENCES [dbo].[Pessoas] ([Id])
GO
ALTER TABLE [dbo].[Eventos] CHECK CONSTRAINT [FK_Eventos_Pessoas_CoordenadorPessoaId]
GO
ALTER TABLE [dbo].[Eventos]  WITH CHECK ADD  CONSTRAINT [FK_Eventos_SolucoesEducacionais_CursoId] FOREIGN KEY([CursoId])
REFERENCES [dbo].[SolucoesEducacionais] ([Id])
GO
ALTER TABLE [dbo].[Eventos] CHECK CONSTRAINT [FK_Eventos_SolucoesEducacionais_CursoId]
GO
ALTER TABLE [dbo].[Formacao]  WITH CHECK ADD  CONSTRAINT [FK_Formacao_Docente_DocenteId] FOREIGN KEY([DocenteId])
REFERENCES [dbo].[Docentes] ([Id])
GO
ALTER TABLE [dbo].[Formacao] CHECK CONSTRAINT [FK_Formacao_Docente_DocenteId]
GO
ALTER TABLE [dbo].[Gestores]  WITH CHECK ADD  CONSTRAINT [FK_Gestores_Entidades_EntidadeId] FOREIGN KEY([EntidadeId])
REFERENCES [dbo].[Entidades] ([Id])
GO
ALTER TABLE [dbo].[Gestores] CHECK CONSTRAINT [FK_Gestores_Entidades_EntidadeId]
GO
ALTER TABLE [dbo].[Gestores]  WITH CHECK ADD  CONSTRAINT [FK_Gestores_Pessoas_PessoaId] FOREIGN KEY([PessoaId])
REFERENCES [dbo].[Pessoas] ([Id])
GO
ALTER TABLE [dbo].[Gestores] CHECK CONSTRAINT [FK_Gestores_Pessoas_PessoaId]
GO
ALTER TABLE [dbo].[Habilidades]  WITH CHECK ADD  CONSTRAINT [FK_Habilidades_SolucoesEducacionais_CursoId] FOREIGN KEY([CursoId])
REFERENCES [dbo].[SolucoesEducacionais] ([Id])
GO
ALTER TABLE [dbo].[Habilidades] CHECK CONSTRAINT [FK_Habilidades_SolucoesEducacionais_CursoId]
GO
ALTER TABLE [dbo].[Habilitacao]  WITH CHECK ADD  CONSTRAINT [FK_Habilitacao_Docente_DocenteId] FOREIGN KEY([DocenteId])
REFERENCES [dbo].[Docentes] ([Id])
GO
ALTER TABLE [dbo].[Habilitacao] CHECK CONSTRAINT [FK_Habilitacao_Docente_DocenteId]
GO
ALTER TABLE [dbo].[Habilitacao]  WITH CHECK ADD  CONSTRAINT [FK_Habilitacao_SolucoesEducacionais_CursoId] FOREIGN KEY([CursoId])
REFERENCES [dbo].[SolucoesEducacionais] ([Id])
GO
ALTER TABLE [dbo].[Habilitacao] CHECK CONSTRAINT [FK_Habilitacao_SolucoesEducacionais_CursoId]
GO
ALTER TABLE [dbo].[Inscritos]  WITH CHECK ADD  CONSTRAINT [FK_Inscritos_ListaDeInscricao_ListaDeInscricaoId] FOREIGN KEY([ListaDeInscricaoId])
REFERENCES [dbo].[ListaDeInscricao] ([Id])
GO
ALTER TABLE [dbo].[Inscritos] CHECK CONSTRAINT [FK_Inscritos_ListaDeInscricao_ListaDeInscricaoId]
GO
ALTER TABLE [dbo].[Inscritos]  WITH CHECK ADD  CONSTRAINT [FK_Inscritos_Penalidades_PenalidadeId] FOREIGN KEY([PenalidadeId])
REFERENCES [dbo].[Penalidades] ([Id])
GO
ALTER TABLE [dbo].[Inscritos] CHECK CONSTRAINT [FK_Inscritos_Penalidades_PenalidadeId]
GO
ALTER TABLE [dbo].[Inscritos]  WITH CHECK ADD  CONSTRAINT [FK_Inscritos_Pessoas_PessoaId] FOREIGN KEY([PessoaId])
REFERENCES [dbo].[Pessoas] ([Id])
GO
ALTER TABLE [dbo].[Inscritos] CHECK CONSTRAINT [FK_Inscritos_Pessoas_PessoaId]
GO
ALTER TABLE [dbo].[ItensDaTrilha]  WITH CHECK ADD  CONSTRAINT [FK_ItensDaTrilha_SolucoesEducacionais_SolucaoId] FOREIGN KEY([SolucaoId])
REFERENCES [dbo].[SolucoesEducacionais] ([Id])
GO
ALTER TABLE [dbo].[ItensDaTrilha] CHECK CONSTRAINT [FK_ItensDaTrilha_SolucoesEducacionais_SolucaoId]
GO
ALTER TABLE [dbo].[ItensDaTrilha]  WITH CHECK ADD  CONSTRAINT [FK_ItensDaTrilha_Trilhas_TrilhaId] FOREIGN KEY([TrilhaId])
REFERENCES [dbo].[Trilhas] ([Id])
GO
ALTER TABLE [dbo].[ItensDaTrilha] CHECK CONSTRAINT [FK_ItensDaTrilha_Trilhas_TrilhaId]
GO
ALTER TABLE [dbo].[ListaDeInscricao]  WITH CHECK ADD  CONSTRAINT [FK_ListaDeInscricao_Evento_EventoId] FOREIGN KEY([EventoId])
REFERENCES [dbo].[Eventos] ([Id])
GO
ALTER TABLE [dbo].[ListaDeInscricao] CHECK CONSTRAINT [FK_ListaDeInscricao_Evento_EventoId]
GO
ALTER TABLE [dbo].[Locais]  WITH NOCHECK ADD  CONSTRAINT [FK_Locais_Municipios_MunicipioId] FOREIGN KEY([MunicipioId])
REFERENCES [dbo].[Municipios] ([Id])
GO
ALTER TABLE [dbo].[Locais] CHECK CONSTRAINT [FK_Locais_Municipios_MunicipioId]
GO
ALTER TABLE [dbo].[LocalContatos]  WITH CHECK ADD  CONSTRAINT [FK_LocalContatos_Locais_LocalId] FOREIGN KEY([LocalId])
REFERENCES [dbo].[Locais] ([Id])
GO
ALTER TABLE [dbo].[LocalContatos] CHECK CONSTRAINT [FK_LocalContatos_Locais_LocalId]
GO
ALTER TABLE [dbo].[LocalContatos]  WITH CHECK ADD  CONSTRAINT [FK_LocalContatos_TipoLocalContato_TipoContatoId] FOREIGN KEY([TipoContatoId])
REFERENCES [dbo].[TipoLocalContato] ([Id])
GO
ALTER TABLE [dbo].[LocalContatos] CHECK CONSTRAINT [FK_LocalContatos_TipoLocalContato_TipoContatoId]
GO
ALTER TABLE [dbo].[LocalRecursos]  WITH CHECK ADD  CONSTRAINT [FK_LocalRecursos_Locais_LocalId] FOREIGN KEY([LocalId])
REFERENCES [dbo].[Locais] ([Id])
GO
ALTER TABLE [dbo].[LocalRecursos] CHECK CONSTRAINT [FK_LocalRecursos_Locais_LocalId]
GO
ALTER TABLE [dbo].[LocalRecursos]  WITH CHECK ADD  CONSTRAINT [FK_LocalRecursos_Recursos_RecursoId] FOREIGN KEY([RecursoId])
REFERENCES [dbo].[Recursos] ([Id])
GO
ALTER TABLE [dbo].[LocalRecursos] CHECK CONSTRAINT [FK_LocalRecursos_Recursos_RecursoId]
GO
ALTER TABLE [dbo].[LocalSalas]  WITH CHECK ADD  CONSTRAINT [FK_LocalSalas_Locais_LocalId] FOREIGN KEY([LocalId])
REFERENCES [dbo].[Locais] ([Id])
GO
ALTER TABLE [dbo].[LocalSalas] CHECK CONSTRAINT [FK_LocalSalas_Locais_LocalId]
GO
ALTER TABLE [dbo].[Modulos]  WITH CHECK ADD  CONSTRAINT [FK_Modulos_SolucoesEducacionais_CursoId] FOREIGN KEY([CursoId])
REFERENCES [dbo].[SolucoesEducacionais] ([Id])
GO
ALTER TABLE [dbo].[Modulos] CHECK CONSTRAINT [FK_Modulos_SolucoesEducacionais_CursoId]
GO
ALTER TABLE [dbo].[Penalidades]  WITH CHECK ADD  CONSTRAINT [FK_Penalidades_Pessoas_PessoaId] FOREIGN KEY([PessoaId])
REFERENCES [dbo].[Pessoas] ([Id])
GO
ALTER TABLE [dbo].[Penalidades] CHECK CONSTRAINT [FK_Penalidades_Pessoas_PessoaId]
GO
ALTER TABLE [dbo].[PessoaContato]  WITH CHECK ADD  CONSTRAINT [FK_PessoaContato_Pessoas_PessoaId] FOREIGN KEY([PessoaId])
REFERENCES [dbo].[Pessoas] ([Id])
GO
ALTER TABLE [dbo].[PessoaContato] CHECK CONSTRAINT [FK_PessoaContato_Pessoas_PessoaId]
GO
ALTER TABLE [dbo].[PessoaContato]  WITH CHECK ADD  CONSTRAINT [FK_PessoaContato_TipoPessoaContato_TipoPessoaContatoId] FOREIGN KEY([TipoPessoaContatoId])
REFERENCES [dbo].[TipoPessoaContato] ([Id])
GO
ALTER TABLE [dbo].[PessoaContato] CHECK CONSTRAINT [FK_PessoaContato_TipoPessoaContato_TipoPessoaContatoId]
GO
ALTER TABLE [dbo].[Pessoas]  WITH CHECK ADD  CONSTRAINT [FK_Pessoas_Deficiencias_DeficienciaId] FOREIGN KEY([DeficienciaId])
REFERENCES [dbo].[Deficiencias] ([Id])
GO
ALTER TABLE [dbo].[Pessoas] CHECK CONSTRAINT [FK_Pessoas_Deficiencias_DeficienciaId]
GO
ALTER TABLE [dbo].[Pessoas]  WITH CHECK ADD  CONSTRAINT [FK_Pessoas_Entidades_EntidadeId] FOREIGN KEY([EntidadeId])
REFERENCES [dbo].[Entidades] ([Id])
GO
ALTER TABLE [dbo].[Pessoas] CHECK CONSTRAINT [FK_Pessoas_Entidades_EntidadeId]
GO
ALTER TABLE [dbo].[Pessoas]  WITH CHECK ADD  CONSTRAINT [FK_Pessoas_Escolaridades_EscolaridadeId] FOREIGN KEY([EscolaridadeId])
REFERENCES [dbo].[Escolaridades] ([Id])
GO
ALTER TABLE [dbo].[Pessoas] CHECK CONSTRAINT [FK_Pessoas_Escolaridades_EscolaridadeId]
GO
ALTER TABLE [dbo].[Pessoas]  WITH CHECK ADD  CONSTRAINT [FK_Pessoas_Municipios_MunicipioId] FOREIGN KEY([MunicipioId])
REFERENCES [dbo].[Municipios] ([Id])
GO
ALTER TABLE [dbo].[Pessoas] CHECK CONSTRAINT [FK_Pessoas_Municipios_MunicipioId]
GO
ALTER TABLE [dbo].[Pessoas]  WITH CHECK ADD  CONSTRAINT [FK_Pessoas_OrgaoExpedidor_OrgaoExpedidorId] FOREIGN KEY([OrgaoExpedidorId])
REFERENCES [dbo].[OrgaoExpedidor] ([Id])
GO
ALTER TABLE [dbo].[Pessoas] CHECK CONSTRAINT [FK_Pessoas_OrgaoExpedidor_OrgaoExpedidorId]
GO
ALTER TABLE [dbo].[Pessoas]  WITH CHECK ADD  CONSTRAINT [FK_Pessoas_Sexo_SexoId] FOREIGN KEY([SexoId])
REFERENCES [dbo].[Sexo] ([Id])
GO
ALTER TABLE [dbo].[Pessoas] CHECK CONSTRAINT [FK_Pessoas_Sexo_SexoId]
GO
ALTER TABLE [dbo].[RegistrosDePresenca]  WITH CHECK ADD  CONSTRAINT [FK_RegistrosDePresenca_EventoHorario_EventoHorarioId] FOREIGN KEY([EventoHorarioId])
REFERENCES [dbo].[EventoHorario] ([Id])
GO
ALTER TABLE [dbo].[RegistrosDePresenca] CHECK CONSTRAINT [FK_RegistrosDePresenca_EventoHorario_EventoHorarioId]
GO
ALTER TABLE [dbo].[RegistrosDePresenca]  WITH CHECK ADD  CONSTRAINT [FK_RegistrosDePresenca_Pessoas_PessoaId] FOREIGN KEY([PessoaId])
REFERENCES [dbo].[Pessoas] ([Id])
GO
ALTER TABLE [dbo].[RegistrosDePresenca] CHECK CONSTRAINT [FK_RegistrosDePresenca_Pessoas_PessoaId]
GO
ALTER TABLE [dbo].[SolucoesEducacionais]  WITH CHECK ADD  CONSTRAINT [FK_SolucoesEducacionais_Estacoes_EstacaoId] FOREIGN KEY([EstacaoId])
REFERENCES [dbo].[Estacoes] ([Id])
GO
ALTER TABLE [dbo].[SolucoesEducacionais] CHECK CONSTRAINT [FK_SolucoesEducacionais_Estacoes_EstacaoId]
GO
ALTER TABLE [dbo].[SolucoesEducacionais]  WITH CHECK ADD  CONSTRAINT [FK_SolucoesEducacionais_NiveisDeCurso_NivelDoCursoId] FOREIGN KEY([NivelDoCursoId])
REFERENCES [dbo].[NiveisDeCurso] ([Id])
GO
ALTER TABLE [dbo].[SolucoesEducacionais] CHECK CONSTRAINT [FK_SolucoesEducacionais_NiveisDeCurso_NivelDoCursoId]
GO
ALTER TABLE [dbo].[SolucoesEducacionais]  WITH CHECK ADD  CONSTRAINT [FK_SolucoesEducacionais_TiposDeCurso_TipoDoCursoId] FOREIGN KEY([TipoDoCursoId])
REFERENCES [dbo].[TiposDeCurso] ([Id])
GO
ALTER TABLE [dbo].[SolucoesEducacionais] CHECK CONSTRAINT [FK_SolucoesEducacionais_TiposDeCurso_TipoDoCursoId]
GO
USE [master]
GO
